* {
background-color: #30D5F2;
}

h1 {
font-size: 2.5rem;
color: #7521DB;
font-weight:
padding: 25px;
}

h2 {
font-size: 2rem;
color: #7521DB
padding: 20px;
}

h3 {
font-size: 1.5rem;
color: #2186DB
padding: 10px;
}

a {
background-color: #3a4660;
color: #54DB21;
text-decoration: none;
padding: 20px;
}
